#sideBar {
    background-color: rgba(0, 0, 0, 102);
}

#themeSwitcher {
    background-color: #ffffff;
    border-radius: 12px;
    text-align: right;
    padding-right: 3px;
    border: none;
}

#selectedCity {
    background-color: rgba(0, 0, 0, 51);
    border-radius: 10px;
}

#text3, #weatherTempRange {
    color: rgba(255, 255, 255, 204);
}

#underline {
    border: 2px solid rgba(255, 255, 255, 51);
}

#searchInput {
    background-color: rgba(0, 0, 0, 51);
    color: white;
}

#searchIcon, #cityAddFrame {
    background-color: rgba(0, 0, 0, 51);
}

#cityAddFrame::hover{
    background-color: rgba(0, 0, 0, 102);
}

#plusIcon{
    border-color: white;
}

#cityInfo {
    background-color: rgba(0, 0, 0, 51); 
}

#dialImg {
    background-color: rgba(0, 0, 0, 51);
}