#sideBar {
    background-color: rgba(255, 255, 255, 153);
}

#topBar {
    background-color: rgba(182, 181, 181, 153);
}

#commandBtnClose::hover, #commandBtnMaxBig::hover, #commandBtnMaxSmall::hover, #commandBtnMin::hover {
    background-color: rgba(182, 181, 181, 201);
}

#themeSwitcher {
    background-color:  rgba(0, 0, 0, 51);
    border-radius: 12px;
    text-align: left;
    padding-left: 3px;
    border: none;
}

QLabel, QPushButton {
    color: #2C2C2C
}

#selectedCity{
    background-color: rgba(0, 0, 0, 51);
    border-radius: 10px;
}

#text3, #weatherTempRange {
    color: rgba(44, 44, 44, 204);
}

#underline {
    border: 2px solid rgba(44, 44, 44, 51);
}

#searchInput {
    background-color: rgba(255, 255, 255, 51);
    color: #2C2C2C;
}

#searchIcon, #cityAddFrame {
    background-color: rgba(255, 255, 255, 51);
}

#cityAddFrame::hover{
    background-color: rgba(255, 255, 255, 102);
}

#cityInfo, #settingsBlock {
    background-color: rgba(255, 255, 255, 51);
}

#dialImg {
    background-color: rgba(255, 255, 255, 51);
}

QListView {
    background-color: white;
    color: black;
    selection-background-color: rgba(255, 255, 255, 102);
}