#weatherWidget, #welcomeWidget, #sunnyWeather, #nightweather, #fewCloudyDayWeather,
#fewCloudyNightWeather, #cloudyWeather, #rainyWeather, #thunderstormWeather,
#snowyWeather{
    border-radius: 16px;
}

MainAppWindow[maximized="true"] #welcomeWidget, MainAppWindow[maximized="true"] #sunnyWeather, MainAppWindow[maximized="true"] #nightweather, MainAppWindow[maximized="true"] #fewCloudyDayWeather,
MainAppWindow[maximized="true"] #fewCloudyNightWeather, MainAppWindow[maximized="true"] #cloudyWeather, MainAppWindow[maximized="true"] #rainyWeather, MainAppWindow[maximized="true"] #thunderstormWeather,
MainAppWindow[maximized="true"] #snowyWeather{
    border-radius: 0px;
}

#sideBar {
    border-bottom-left-radius: 16px;
    border: none;
}

MainAppWindow[maximized="true"] #sideBar {
    border-radius: 0px;
}

MainAppWindow[maximized="true"] #topBar {
    border-radius: 0px;

}

#topBar {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

#weatherWidget, #welcomeWidget {
    background: qlineargradient(x1:0, y1:1, x2:1, y2:0, stop:0 #ff87cefa stop:1  #fd5);
}

#sunnyWeather {
    background: qlineargradient(x1:0, y1:1, x2:1, y2:0, stop:0 #87CEFA, stop:1 #FFDF56);
}

#nightweather {
    background: qlineargradient(x1:0, y1:1, x2:1, y2:0, stop:0 #191970, stop:1 #8A2BE2);
}

#fewCloudyDayWeather {
    background: qlineargradient(x1:0, y1:1, x2:1, y2:0, stop:0 #C0C0C0, stop:1 #FFD27F);
}

#fewCloudyNightWeather {
    background: qlineargradient(x1:0, y1:1, x2:1, y2:0, stop:0 #696969, stop:1 #9974BC);
}

#cloudyWeather {
    background: qlineargradient(x1:0, y1:1, x2:1, y2:0, stop:0 #A9A9A9, stop:1 #696969);
}

#rainyWeather {
    background: qlineargradient(x1:0, y1:1, x2:1, y2:0, stop:0 #808080, stop:1 #5DACE2);
}

#thunderstormWeather {
    background: qlineargradient(x1:0, y1:1, x2:1, y2:0, stop:0 #4A4A4A, stop:1 #5DACE2);
}

#snowyWeather {
    background: qlineargradient(x1:0, y1:1, x2:1, y2:0, stop:0 #FFFFFF, stop:1 #B0C4DE);
}

QLabel, QPushButton {
    color: white;
    font-family: "Segoe UI";
    font-weight: 500;
}

#redBtn, #yellowBtn, #greenBtn {
    border-radius: 7px;
}

#redBtn {
    background-color: #FF5F57;
}
#redBtn::hover {
    background-color: #E04845;
}

#yellowBtn {
    background-color: #FEBC2E;
}

#yellowBtn::hover {
    background-color: #E0A700;
}

#greenBtn {
    background-color: #28C940;
}

#greenBtn::hover {
    background-color: #1DAF38;
}

#commandBtnClose, #commandBtnMaxBig, #commandBtnMaxSmall, #commandBtnMin {
    background-color: transparent;   
    border: none;
    font-size: 16px;
}

#commandBtnMaxBig {
    font-size: 26px;
}

#commandBtnClose {
    border-top-right-radius: 16px;
}

MainAppWindow[maximized="true"] #commandBtnClose {
    border-radius: 0px;
}

#welcomeWidget QLabel{
    color: white;
}

#refreshBtn {
    border-radius: 6px;
    border: none;
    background-color: rgba(0, 0, 0, 51);
}

#refreshBtn:hover {
    background-color: rgba(0, 0, 0, 85);
}

#position, #weatherTempRange, #todayText, #forecastText, #titleText, #topPanelTitle{
    font-size: 16px;
}

#city, #text1{
    font-size: 44px;
    font-weight: 700;
}

#tempValue {
    font-size: 74px;
    font-weight: 700;
}

#description, #dateText{
    font-size: 24px;
}

#tempRange{
    font-size: 24px;
    color: rgba(255, 255, 255, 150);
}

#scrollArea, #scrollContent, #cityFrame {
    background-color: transparent;
    border: none;
}

#text2 {
    font-size: 24px;
    font-weight: 700;
}

#text3 {
    font-size: 12px;
    font-weight: 600;
}

#searchInput {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Segoe UI";
    border: none;
}

#searchIcon {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#cityAddFrame {
    font-size: 16px;
    font-family: "Segoe UI";
    border: none;
    border-radius: 5px;
}

#cityAddFrameText{
    font-size: 16px;
    padding-bottom: 1px;
}

#plusIcon{
    border: 1px solid #2C2C2C;;
    border-radius: 6px;
    font-size: 12px;
    padding-bottom: 2px;
}

#cityInfo {
    border-radius: 10px;
}

#searchingError{
    font-size: 18px;
    font-weight: bold;
}

#dialImg{
    border-radius: 84px;
}

#timeText {
    font-size: 28px;
}

#graphContainer {
    border-image: url("url_for_replacement") 0 0 0 0 stretch stretch;
}

#yAxiousValue {
    font-size: 12px;
}

#chart {
    background: qlineargradient(x1:0, y1:1, x2:0, y2:0, stop:0 #87CEFA, stop:1 #FFDF56)
}